/* lauren's bootstrap overrides and custom classes
body {font-size: 12px; }

dl {margin-bottom: 0; }
dt {line-height: 1rem; } */

body { line-height: 1;}

.award-row { border-top: 2px solid #343a40 !important; }
.badge { font-size: 11px; }
.button { line-height: 1.25em; }

.blank { font-style: italic; color: #777;}

.rowHeader { font-size: .8rem !important; font-weight: 600 !important; padding-top: 4px !important; padding-bottom: 6px !important; }
.rowheader a, .rowheader a:hover { font-weight: bold !important; color: #333399 !important; text-decoration: underline !important; }

.cellText, .cellHeader, .rowHeader { white-space: normal !important; } /* this seems to be what allows it to wrap */

td.cellText { background: white; }
select, select option { font-size: 12px !important; }
tr.emptyrow td { background: #f7f7f7 !important; color: #777 !important; }
/* tr.emptyrow td input { background-color: #f9f9f9 !important;} */

tr.buttonbar { background-color: slategray; border: solid 1px black; }
tr.buttonbar input[type=submit] { border: solid 1px transparent;
    border-radius: 4px;
    color: #555;
    margin: 5px;
    padding: 1px 10px; }

select.narrow { width: 130px !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;}

select.medium { width: 200px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
/* input[type=text] { width: 100%; } */

tr.totalRow { border: 2px solid black; }
tr.totalRow td.cellText { background-color: #EBEBE0; }

/* making fixed widths cells & tables for the different bootstrap column widths */
div.col-3 td.cellHeader, div.col-3 th.cellHeader,
div.col-4 td.cellHeader, div.col-4 th.cellHeader,
div.col-5 td.cellHeader, div.col-5 td.cellHeader { width: 160px !important; padding: 5px !important; }

/* override the above to make the labels narrower on the first Needs Analysis column so the $ + input can stay on one line in the work income field */
div.col-4 td.cellHeader.narrow, div.col-4 th.cellHeader.narrow { width: 115px !important; }

/* new banner for corrections in process */
div#corrInProcess {
    background-color: #dcf;
    border: solid 1px #a9d;
    color: #160043;
    font-weight: bold;
    margin-top: 5px;
    padding: 0.3rem;
    text-align: center; }
