/* lauren's bootstrap overrides and custom classes
body {font-size: 12px; }

dl {margin-bottom: 0; }
dt {line-height: 1rem; } */

body { line-height: 1;}

.award-row { border-top: 2px solid #343a40 !important; }
.badge { font-size: 11px; }
.button { line-height: 1.25em; }
